# API keys for running unit test cases
BLOCKFROST_API_KEY_PREPROD=preprodxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MAESTRO_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
KOIOS_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OGMIOS_API_URL=https://your-ogmios-endpoint.demeter.run
NEXUS_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NEXUS_API_URL=https://nexus.gerowallet.io/api
